# tuples

- Same as list but immutable
- () are used for this
- we can do slicing tpl[1:2]
- acces
- unpacking

In [9]:
tpl  = [1, 2, 3, 4, 5]

In [10]:
tpl = tuple(tpl)

In [11]:
type(tpl)

tuple

In [ ]:
my_tuple = (1,) # its a single element tuple, you cant define it with (1)
type(my_tuple)

tuple

In [14]:
my_tuple = "jamal", # its a tuple becaus i thas a comma after it
my_tuple = "name", "account", "class", "degree"

# Sets

- unordered collections with no duplicate elements
- set is immutable
- set can my_set = set()
- .add(), .remove() -> if that element is not in set it will give an error
- .discard() -> if that element is no in the set it will not give an error 
- intersection '&', union '|', difference a - b

In [15]:
mix_items = [1,2,3,4,5,6,7,8,99,23,34,4,52,3,4]

set(mix_items)

{1, 2, 3, 4, 5, 6, 7, 8, 23, 34, 52, 99}